<section class="stars2-banner">
  <div class="container banner-container">
    <div class="banner-text">
      <div class="bigtext"> <span>GSA 8(a) STARS II</span></div>
      <div class="smalltext"> <span>Great government through best-fit technology</span><br />
        <span>Direct Access to Elucid's IT Modernization Services</span> </div>
    </div>
  </div>
</section>
<section class="contracts-navigation">
  <p><a href="#/aboutus">Back to about us</a></p>
</section>
<section class="navigation-slider-mobile">
  <ul class="bubble-nav">
	<li class="left-arrow"><a class="left-arrow-link" href ng-click="go('/contracts/schedule70')"></a></li>
    <li class="selected"><a href="">GSA 8(A) STARS II</a></li>
    <li class="right-arrow"></li>
  </ul>	
</section>
<section class="navigation-slider">
  <hr />
  <ul class="bubble-nav contracts">
    <li><a href ng-click="go('/contracts/ciosp3')">NITAAC CIOSP3</a></li>
    <li><a href  ng-click="go('/contracts/schedule70')">GSA Schedule 70</a></li>
    <li class="selected"><a href="">GSA 8(A) STARS II</a></li>
  </ul>
</section>

<section class="contracts-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h2>Introduction</h2>
      </div>
      <div class="col-lg-8 col-md-8">
        <p>Elucid, as a leading IT consulting small business, was recently awarded the GSA 8(a) STARS II government-wide acquisition contract (GWAC). Our contract covers all four of the Functional Areas carved out in Constellation I, including:
        <p>
        <ul>
          <li>CIFA1 - Custom Computer Programming Services,</li>
          <li>CIFA2 - Computer Systems Design Services,</li>
          <li>CIFA3 - Computer Facilities Management Services, and</li>
          <li>CIFA4 - Other Computer Related Services.</li>
        </ul>
        <p>The 8(a) STARS II vehicle provides an easy, stream-lined way for your agency to access our roster of IT professionals. For information on how to access Elucid through the 8(a) STARS II vehicle, please contact Paul Tran with our <a href="/#/contactus">Contact form</a>
      </div>
    </div>
  </div>
</section>
