<section class="aboutus-banner">
  <div class="container banner-container">
    <div class="banner-text">
      <div class="bigtext"> <span>Elucid Solutions</span></div>
      <div class="smalltext"> <span>Transparency in IT investments</span> </div>
    </div>
  </div>
</section>
<section id="mission" class="mission">
        <h1>Our Mission</h1>
  <div class="container">

      <div class="mission-quote">
        <div class="pull-top-right"> <img src="/images/quotes-open.png" class="quote"/></div>
        <p>Elucid provides decision support to mid-sized organizations seeking to acquire resilient, agile information technology capabilities that yield the maximum return on investment.</p>
        <div class="pull-bottom-left"><img src="/images/quotes-close.png" class="quote"/></div>
      </div>

  </div>
</section>
<section id="history" class="history">
  <div class="container">
          <h1>Who We Are</h1>   
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <h2>Our Beginning</h2>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12">
        <p>Incorporated in 1998, Elucid first built an enviable reputation supporting Fortune 100 companies such as Fannie Mae, Freddie Mac and Constellation Energy. Over the course of 11 successful years, we built decision-support systems to assist financial managers with the oversight of a mortgage portfolio valued at more than $900 billion in assets – and developed, maintained and replaced those systems in tandem with current trends and company requirements. While developing systems in trading, accounting and portfolio management, we acquired a wealth of expertise in open and closed source technologies and utilized innovations that were, for the most part, dictated by clients. Soon, however, Elucid made the bold choice to move into new territory.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <h2>Elucid in the Present</h2>
      </div>
      <div class="col-lg-9 col-md-9">
        <p>By 2009, Elucid had acquired a very broad view of overseeing information technology projects and, not surprisingly, noticed many trends in business practices.  When it came to IT modernization, many IT departments took an unstructured approach to adopting technologies that often relied on the past experiences of associates rather than how certain products filled business needs and requirements. Such systems repeatedly showed an inability to evolve – and with no concrete strategies to encourage adoption of new technology at employee levels, those products foundered.</p>
        <p>We eventually took our collective experience and applied it to the federal government contracting landscape, cultivating fruitful relationships with agencies including the General Services Administration, the National Institutes of Health, the United States African Development Foundation, the U.S. Agency for International Development and the Federal Energy Regulation Commission. Elucid has successfully executed a plethora of projects ranging from grant management system studies to the development of internal systems aimed to promote increased training and collaboration.  With an expanded reach into the commercial client space, we will only fortify our IT modernization methodology.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <h2>Modernization Our Way</h2>
      </div>
      <div class="col-lg-9 col-md-9">
        <p>As our mission statement conveys, we aim to support mid-sized organizations that hope to embrace resilient, agile IT capabilities that will yield the maximum return on investment. With a proven focus on the four pillars of IT Modernization -- market research, COTS implementation management, custom software development and video training -- we’ve provided a spectrum of services for our commercial and government clients, including IT advisory support, market research, and system implementation management to develop custom Web projects using modern Web application architecture. Our service methodology is driven by a thorough assessment of the customer’s business process, the identification of pain points and the enhancement of processes, and the recommendation of best-fit technologies that will enable the customer to streamline business functions and reduce operational expenses.</p>
        <p>An eye toward the future has proved invaluable to Elucid’s growth and will do the same for your organization as we harness our skills to modernize your IT environment.</p>
      </div>
    </div>
  </div>
</section>
<section id="contracts" class="contract-vehicles">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Contract Vehicles</h1>
        <p><span>Our direct and competitive contract vehicles enable us to provide our customers access to our services in a streamlined, efficient manner.</span></p>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4"><a href="#/contracts/ciosp3"><img class="responsive-image" src="/images/nitaac-medium.jpg" /></a></div>
      <div class="col-lg-9 col-md-8">
        <h2><a href="#/contracts/ciosp3">NITAAC &#124; CIOSP3</a></h2>
        <p>NITAAC has helped streamline acquisition by assembling a curated pool of specialized vendors, creating a competitive field and encouraging innovative, cost-effective solutions.</p>
        <p>Find out about our area of specialties and labor categories.</p>
        <a class="btn btn-default btn-blue-caret find-out-more" href="#/contracts/ciosp3" role="button">find out more</a>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12"><a href="#/contracts/schedule70"><img class="responsive-image" src="/images/gsa-schedule70-medium.jpg" /></a></div>
      <div class="col-lg-9 col-md-8  col-sm-12">
        <h2><a href="#/contracts/schedule70">GSA &#124; IT Schedule 70</a></h2>
        <p>The GSA Schedule 70 is a flexible schedule useful for customers procuring wide range of IT services.</p>
        <p>Find out about our area of specialties and labor categories.</p>
        <a class="btn btn-default btn-blue-caret find-out-more" href="#/contracts/schedule70" role="button">find out more</a> </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4"><a href="#/contracts/8astars2"><img class="responsive-image" src="/images/gsa-8astars-medium.jpg" /></a></div>
      <div class="col-lg-9 col-md-8">
        <h2><a href="#/contracts/8astars2">GSA &#124; 8(a) STARS II</a></h2>
        <p>The 8(a) STARS II Government Wide Acquisition Contract (GWAC) is dedicated to pairing federal agencies with accomplished small business IT service providers.</p>
        <p>Find out how you can directly connect with Elucid.</p>
        <a class="btn btn-default btn-blue-caret find-out-more" href="#/contracts/8astars2" role="button">find out more</a> </div>
    </div>
        <div class="row">
      <hr />
    </div>
  </div>
</section>
<section class="learn-more">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h2>Elucid Sole Source Contract Vehicles</h2>
        <p>Elucid's CIO-SP3 and 8(A) STARS II contracts allow your agency to sole source your procurement. The benefits of sole source are:</p>
        <ol>
        	<li>Less time required to award contracts.</li>
            <li>Reduced procurement and administrative costs.</li>            
            <li>Prices reflecting the best value.</li>
            <li>Achieving small business participation goals.</li>
            <li>The delivery of the exact products and services sought.</li>
        </ol>
	  </div>
    </div>
  </div>
</section>
