<section class="nitaac-banner">
  <div class="container banner-container">
    <div class="banner-text">
      <div class="bigtext"> <span>NIH NITAAC CIO-SP3</span></div>
      <div class="smalltext"> <span>The next generation of IT acquisition</span><br />
        <span>Faster &#183; Easier &#183; Cost Competitive</span> </div>
    </div>
  </div>
</section>
<section class="contracts-navigation">
  <p><a href="#/aboutus">Back to about us</a></p>
</section>
<section class="navigation-slider-mobile">
  <ul class="bubble-nav">
    <li class="left-arrow"></li>
    <li class="selected"><a href="">NITAAC CIOSP3</a></li>
    <li class="right-arrow"><a class="right-arrow-link" href ng-click="go('/contracts/schedule70')"></a></li>
  </ul>
</section>
<section class="navigation-slider">
  <hr />
  <ul class="bubble-nav contracts">
    <li class="selected"><a href="">NITAAC CIOSP3</a></li>
    <li><a href ng-click="go('/contracts/schedule70')">GSA Schedule 70</a></li>
    <li><a href ng-click="go('/contracts/8astars2')">GSA 8(A) STARS II</a></li>
  </ul>
</section>
<section class="contracts-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4  col-sm-12">
        <h2>Introduction</h2>
      </div>
      <div class="col-lg-8 col-md-8  col-sm-12">
        <p>The Chief Information Officer–Solutions and Partners 3 (CIO-SP3) government-wide acquisition contract (GWAC) is a 10-year indefinite delivery, indefinite quantity (IDIQ) contract managed by the National Institutes of Health (NIH), National Information Technology Acquisitions and Assessment Center (NITAAC). Contrary to public perception, the CIO-SP3 vehicle is not limited to purely Health IT initiatives; rather, any federal agency can access the vehicle to obtain services that run the gamut of scientific, health, administrative, operational, managerial, and information management IT services. In addition, more general IT services such as software development, systems integration, and information assurance are also included to support agency missions, whether they are related to Health IT or otherwise. Click this link to visit the <a href="http://nitaac.nih.gov/nitaac/contracts/cio-sp3-small-business">NITAAC CIO-SP3 Small Business website.</a></p>
        <p><strong>Sponsor:</strong> National Institute of Health (NIH)</p>
        <p><strong>Administrator:</strong> NIH Information Technology Acquisition and Assessment Center (NITAAC)</p>
        <p><strong>Program Ceiling:</strong> $20 Billion</p>
        <p><strong>Type of Task Orders:</strong> CPFF, CPAF, CPIF, FFP, and T&amp;M</p>
        <p><strong>Prompt Payment Terms:</strong> No special discount for prompt payment</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4  col-sm-12">
        <h2>Awarded Task Areas</h2>
      </div>
      <div class="col-lg-8 col-md-8  col-sm-12">
        <p>Elucid Solutions is eligible to perform work in the following task areas:</p>
        <p><strong>Task Area 1:</strong> IT Services for Biomedical Research, Health Sciences, and Healthcare</p>
        <p><strong>Task Area 2:</strong> Chief Information officer (CIO) Support</p>
        <p><strong>Task Area 5:</strong> IT Operations and Maintenance</p>
        <p><strong>Task Area 6:</strong> Integration Services</p>
        <p><strong>Task Area 8:</strong> Digital Government</p>
        <p><strong>Task Area 10:</strong> Software Development</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h2>CIO-SP3 Program Manager</h2>
      </div>
      <div class="col-lg-8 col-md-8">
        <p><strong>Paul Tran</strong></p>
        <ul>
          <li>(301) 652-8208</li>
          <li><a href="mailto:paul_tran@elucidsolutions.com?Subject=Get In Touch">Paul_Tran@elucidsolutions.com</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h2>Contracts</h2>
      </div>
      <div class="col-lg-8 col-md-8">
        <p><strong>CIOSP3 8(a)</strong></p>
        <ul class="pdf-files">
          <li><a class="pdf-link" href="/files/Elucid_HHSN316201200080W_Executed.pdf">Contract Number: HHSN316201200080W Award GWAC</a></li>
          <li><a class="pdf-link" href="/files/Elucid_HHSN316201200080W_Conformed.pdf">HHSN316201200080W Conformed</a></li>
        </ul>
        <p><strong>CIOSP3 Small Business</strong></p>
        <ul class="pdf-files">
          <li><a class="pdf-link" href="/files/Elucid_HHSN316201200133W_Executed.pdf">Contract Number: HHSN316201200133W Award GWAC</a></li>
          <li><a class="pdf-link" href="/files/Elucid_HHSN316201200133W_Conformed.pdf">HHSN316201200133W Conformed</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h2>Labor Categories</h2>
      </div>
      <div class="col-lg-8 col-md-8">
        <p>Elucid has more than 130 labor categories spread across six task areas on the CIO-SP3 vehicle. Our rates have been approved through the year 2022. This provides our customers with the added benefit of more fully understanding project costs that may extend well into the future.</p>
        <ul class="pdf-files">
          <li><a class="pdf-link" href="/files/ElucidSiteHourlyRates.pdf">Elucid Site Hourly Rates</a></li>
          <li><a class="pdf-link" href="/files/GovernmentSiteHourlyRates.pdf">Government Site Hourly Rates</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="labor-rates">
  <div class="container">
    <div class="row">
      <tabset> <tab heading="Elucid Site Labor Rates" ng-controller="Ciosp3Ctrl" ng-click="setWorkLocation('Elucid')">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <pre class="debug-off">{{maxSize}}</pre>
              <div class="btn-group page-size">
                <button type="button" class="btn btn-default btn-blue" ng-model="maxSize" btn-radio="'10'">10</button>
                <button type="button" class="btn btn-default btn-blue" ng-model="maxSize" btn-radio="'25'">25</button>
                <button type="button" class="btn btn-default btn-blue" ng-model="maxSize" btn-radio="'50'">50</button>
                <button type="button" class="btn btn-default btn-blue" ng-model="maxSize" btn-radio="'100'">100</button>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div>
                <form name="search" novalidate>
                  <input ng-model="searchTerm" placeholder='Search Labor Category e.g., Business Analyst' required type='text' ng-keyup="getLaborRates()">
                </form>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-striped table-blue table-responsive">
          <thead>
            <tr>
              <th rowspan="2">Description</th>
              <th colspan="10">Contract Year</th>
            </tr>
            <tr>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
              <th>8</th>
              <th>9</th>
              <th>10</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="rate in rates">
              <td>{{rate.laborCategory}}</td>
              <td>{{rate.rates[0].laborRate}}</td>
              <td>{{rate.rates[1].laborRate}}</td>
              <td>{{rate.rates[2].laborRate}}</td>
              <td>{{rate.rates[3].laborRate}}</td>
              <td>{{rate.rates[4].laborRate}}</td>
              <td>{{rate.rates[5].laborRate}}</td>
              <td>{{rate.rates[6].laborRate}}</td>
              <td>{{rate.rates[7].laborRate}}</td>
              <td>{{rate.rates[8].laborRate}}</td>
              <td>{{rate.rates[9].laborRate}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="12"><pagination boundary-links="true" total-items="totalItems" page="currentPage" items-per-page="maxSize" max-size="maxSize" on-select-page="setPage(page)" class="pagination-lg pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination></td>
            </tr>
            <tr>
              <td>
          <caption align="bottom">
          CIO-SP3 Rates for work to be performed at Elucid's sites.
          </caption>
            </td>
          
            </tr>
          
            </tfoot>
          
        </table>
        </tab> <tab heading="Government Site Labor Rates" ng-controller="Ciosp3Ctrl" ng-click="setWorkLocation('Government')">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <pre class="debug-off">{{maxSize}}</pre>
              <div class="btn-group page-size">
                <button type="button" class="btn btn-default btn-blue" ng-model="maxSize" btn-radio="'10'">10</button>
                <button type="button" class="btn btn-default btn-blue" ng-model="maxSize" btn-radio="'25'">25</button>
                <button type="button" class="btn btn-default btn-blue" ng-model="maxSize" btn-radio="'50'">50</button>
                <button type="button" class="btn btn-default btn-blue" ng-model="maxSize" btn-radio="'100'">100</button>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div>
                <form name="search" novalidate>
                  <input ng-model="searchTerm" placeholder='Search Labor Category e.g., Business Analyst' required type='text' ng-keyup="getLaborRates()">
                </form>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-striped table-blue table-responsive">
          <thead>
            <tr>
              <th rowspan="2">Description</th>
              <th colspan="10">Contract Year</th>
            </tr>
            <tr>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
              <th>8</th>
              <th>9</th>
              <th>10</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="rate in rates">
              <td>{{rate.laborCategory}}</td>
              <td>{{rate.rates[0].laborRate}}</td>
              <td>{{rate.rates[1].laborRate}}</td>
              <td>{{rate.rates[2].laborRate}}</td>
              <td>{{rate.rates[3].laborRate}}</td>
              <td>{{rate.rates[4].laborRate}}</td>
              <td>{{rate.rates[5].laborRate}}</td>
              <td>{{rate.rates[6].laborRate}}</td>
              <td>{{rate.rates[7].laborRate}}</td>
              <td>{{rate.rates[8].laborRate}}</td>
              <td>{{rate.rates[9].laborRate}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="12"><pagination boundary-links="true" total-items="totalItems" page="currentPage" items-per-page="maxSize" max-size="maxSize" on-select-page="setPage(page)" class="pagination-lg pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination></td>
            </tr>
            <tr>
              <td>
          <caption align="bottom">
          CIO-SP3 Rates for work to be performed at Government's sites.
          </caption>
            </td>
          
            </tr>
          
            </tfoot>
          
        </table>
        </tab> </tabset>
    </div>
  </div>
</section>
<section class="labor-rates-mobile">
  <div class="container" ng-controller="Ciosp3Ctrl">
    <hr />
    <p>Choose your work site</p>
    <div>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-blue" ng-model="workLocation" btn-radio="'Elucid'" ng-click="setWorkLocation('Elucid')">Elucid</button>
        <button type="button" class="btn btn-default btn-blue" ng-model="workLocation" btn-radio="'Government'" ng-click="setWorkLocation('Government')")>Government</button>
      </div>
    </div>
    <div>
      <form name="search" novalidate>
        <input ng-model="searchTerm" placeholder='Search Labor Category' required type='text' ng-keyup="getLaborRates()">
      </form>
      <p><span class="count">{{rates.length}}</span> Records Found</p>
    </div>
    <div>
      <table class="table table-striped table-blue mobile-table-blue table-responsive" ng-repeat="rate in rates">
        <thead>
          <tr>
            <td colspan="2">{{rate.laborCategory}}</td>
          </tr>
          <tr>
            <th>Contract Year</th>
            <th>Contract Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rate in rate.rates">
            <td>{{$index + 1}}</td>
            <td>{{rate.laborRate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
