<section class="management-banner">
  <div class="container banner-container">
    <div class="banner-text">
      <div class="bigtext"> <span>COTS Implementation Management</span><br/>
      </div>
      <div class="smalltext"> <span>In the buy-it realm of system advancements, proper oversight is critical</span> </div>
    </div>
  </div>
</section>
<section class="services-navigation">
  <p><a href="#/services">Back to services</a></p>
</section>
<section class="navigation-slider-mobile">
  <ul class="bubble-nav">
    <li class="left-arrow"><a class="left-arrow-link" href ng-click="go('/services/research')"></a></li>
    <li class="management selected"><a href="">COTS Implementation Management</a></li>
    <li class="right-arrow"><a class="right-arrow-link" href ng-click="go('/services/development')"></a></li>
  </ul>	
</section>
<section class="navigation-slider">
  <hr />
  <ul class="bubble-nav">
    <li class="research"><a href ng-click="go('/services/research')">Market Research</a></li>
    <li class="management selected"><a href="">COTS Implementation Management</a></li>
    <li class="development"><a href ng-click="go('/services/development')">Software Development</a></li>
    <li class="training"><a href ng-click="go('/services/training')">Video Training</a></li>
  </ul>
</section>
<!--<section class="services-slide-navigation">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="pull-left"> <a href ng-click="go('/services/development')" class="left-arrow"> <img class="grayscale" src="/images/service-navigation-development-logo-color.png" /> </a> </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div> <img src="/images/management-icon-large.png" />
          <h1>COTS Implementation Management</h1>
          <img src="/images/services_03_icon.png" /> </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="pull-right"> <a href ng-click="go('/services/training')" class="right-arrow"> <img class="grayscale" src="/images/service-navigation-training-logo-color.png" /> </a> </div>
      </div>
    </div>
  </div>
</section>-->
<section class="content-section">
  <div class="container">
    <div id="implementation-management" class="row">
      <div class="col-lg-12 col-md-12 image-on-right">
        <h2>Implementation Management</h2>
        <img class="responsive-image"  src="/images/balance_infographic.png" />
        <p>By the time an organization begins to consider the most suitable approach regarding management, they have already determined – either through Elucid market research or independent study – that the purchase and subsequent implementation of an existing product will yield the most solid return on investment. In the busy client environment where mission support and productivity are more critical than ever, employees who are qualified to oversee technology implementation efforts often lack the time or resources to helm such initiatives internally. An experienced third party is the best way to guarantee that such needs are satisfied. That is where Elucid Solutions steps into the picture.</p>
      </div>
    </div>
  </div>
</section>
<section class="content-section">
  <div class="container">
    <div id="project-management-bok" class="row">
      <div class="col-lg-12 col-md-12 image-on-left"> <img class="responsive-image" src="/images/pmp_process_infographic.png" />
        <h2>PMBok Standards and PMP Competencies</h2>
        <p>For smaller agencies in particular, selecting COTS products is the best course of action when seeking to alleviate pain points and push job functions forward. Less costly and in need of little to no modification, a ready-made system can be tailored to an agency’s needs. To carry out these tasks effectively, Elucid draws on a blend of the PMBOK standards and PMP competencies, as these are proven, widely practiced methods for developing existing technologies in the workplace. The PMBOK, which is shaped by volunteer panels and the public, is structured around five process groups: initiating, planning, executing, monitoring and controlling, and closing. A compliment to that foundation, the PMP credential aims to ensure that project managers are equipped with the skills necessary to effectively administer endeavors regardless of agency or sector.</p>
      </div>
    </div>
  </div>
</section>
<section class="content-section">
  <div class="container">
    <div id="cots-implementation" class="row">
      <div class="col-lg-12 col-md-12 image-on-right">
        <h2>Your Vision Realized</h2>
        <p>Building upon extensive research and analysis leading up to and during the implementation process, we work on behalf of your agency to ensure that, through independent verification and validation, all determined requirements are met. We will ensure all members of the vendor team bring the best practices in their respective areas of expertise to your organization and that you get the best possible returns on investment.</p>
      </div>
    </div>
  </div>
</section>
<section class="learn-more">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h2>The Next Steps In Elucid's IT Modernization Methodology</h2>
        <p>You’ve successfully implemented the application that will take your organization to the next level. Now, learn more about our video training services.</p>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"> <img class="responsive-image" src="images/training-icon-large.png" /> </div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <h2>Train It</h2>
                <p>The key to the faster adoption of new technology is a well-conceived training program. By virtue of its flexibility, video training leaves an organization’s workforce empowered to learn efficiently through repetition and continued access. The educational experience can be tailored to an individual’s needs regardless of experience level. For more information, click here.</p>
                <a class="btn btn-default btn-blue-caret service-button" href="#/services/training" role="button">find out more</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="content-scrollspy hide-scrollspy" ng-class="{'show-scrollspy': (scroll > 700 && scroll < 1600)}" scroll-position="scroll">
  <ul>
    <li> <a scrollspy spy="implementation-management">Management</a> </li>
    <li> <a scrollspy spy="project-management-bok">PM Methodology</a> </li>
    <li> <a scrollspy spy="cots-implementation">Vision Realized</a> </li>
  </ul>
</div>
