<section class="services-banner" id="top">
  <div class="container banner-container">
    <div class="banner-text">
      <div class="bigtext"> 
      	<span>Elucid Service Pillars</span>
      </div>
      <div class="smalltext">
      	<span>Our Lifecycle In IT Modernization</span>
      </div>
    </div>
  </div>
</section>
<section class="default-section general-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Our carefully crafted pillars create a logical progression through any IT modernization project. Whether you choose to move through the full lifecycle beginning with our market research capabilities or start at the particular point best suited to your efforts, you will find that our services are designed to get you on track and keep you on track until you arrive at your desired state.</p>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-lg-3 icon"><a href="/#/services/research"><img src="/images/research-icon-large.png" /></a></div>
      <div class="col-lg-9 info">
        <h2><a href="#/services/research">Market Research</a> <span><img src="/images/services_01_icon.png" /></span></h2>
        <p><span>Intelligence makes SMART technology investing attainable.</span></p>
        <p>Elucid Solutions’ advisory studies foster unbiased, engaging process analysis that can effectively inform future IT endeavors. We quantify costs and benefits of each solution surveyed and rank the top performers. The result will inform a buy-it or build-it decision for agency to choose.</p>
        <a class="btn btn-default btn-blue-caret service-button" href="#/services/research" role="button">Research It</a> </div>
    </div>
    <div class="hr-arrow-down"> </div>
    <div class="row">
      <div class="col-lg-3 icon"><a href="/#/services/management"><img src="/images/management-icon-large.png" /></a></div>
      <div class="col-lg-9 info">
        <h2><a href="#/services/management">COTS Implementation Management</a> <span><img src="/images/services_02_icon.png" /></span></h2>
        <p><span>In the buy-it realm of system advancements, proper oversight is critical.</span></p>
        <p>When implementing a COTS product, having an experienced third party is the best way to guarantee the requirements are satisfied. Our five (5) step management process guarantee your procurement goals will be met concerning budget, timeliness of delivery, and 100% adaptation to your business process.</p>
        <a class="btn btn-default btn-blue-caret service-button" href="#/services/management" role="button">Buy It</a> </div>
    </div>
    <div class="hr-arrow-down"> </div>
    <div class="row">
      <div class="col-lg-3 icon"><a href="/#/services/development"><img src="/images/development-icon-large.png" /></a></div>
      <div class="col-lg-9 info">
        <h2><a href="#/services/development">Custom Software Development</a> <span><img src="/images/services_03_icon.png" /></span></h2>
        <p><span>Personalized technologies yield a sharper agency vision.</span></p>
        <p>With a system built specifically for your business, manual processes and workarounds will be elimated, and thus your staff will be able to focus on tasks directly impacting your mission. We develop secure, responsive Web applications based on our vetted open-source stack designed for easy maintainability and extendability to meet your changing business requirements.</p>
        <a class="btn btn-default btn-blue-caret service-button" href="#/services/development" role="button">Build It</a> </div>
    </div>
    <div class="hr-arrow-down"> </div>
    <div class="row">
      <div class="col-lg-3 icon"><a href="/#/services/training"><img src="/images/training-icon-large.png" /></a></div>
      <div class="col-lg-9 info">
        <h2><a href="#/services/training">Video Training</a> <span><img src="/images/services_04_icon.png" /></span></h2>
        <p><span>Faster user adoption of the modernized system.</span></p>
        <p>To bring modernization effort to completion successfully, your users must receive proper training on the new technology. Video based learning allows your users to repeatedly watch, listen, mimic and learn. Our actors, state of the art capturing and editing tools, green screen, graphics and special effects are combined in the development of videos that allow your staff to become proficient with the new system.</p>
        <a class="btn btn-default btn-blue-caret service-button" href="#/services/training" role="button">Train It</a> </div>
    </div>
    <div class="row">
      <hr />
    </div>
  </div>
</section>
