<section class="training-banner">
  <div class="container banner-container">
    <div class="banner-text">
      <div class="bigtext"> <span>Video Training</span><br/>
      </div>
      <div class="smalltext"> <span>Faster user adoption of the modernized system</span> </div>
    </div>
  </div>
</section>
<section class="services-navigation">
  <p><a href="#/services">Back to services</a></p>
</section>
<section class="navigation-slider-mobile">
  <ul class="bubble-nav">
    <li class="left-arrow"><a class="left-arrow-link" href ng-click="go('/services/development')"></a></li>
    <li class="training selected"><a href="">Video Training</a></li>
	<li class="right-arrow"></li>   
  </ul>	
</section>
<section class="navigation-slider">
  <hr />
  <ul class="bubble-nav">
    <li class="research"><a href ng-click="go('/services/research')">Market Research</a></li>
    <li class="management"><a href ng-click="go('/services/management')">COTS Implementation Management</a></li>
    <li class="development"><a href ng-click="go('/services/development')">Software Development</a></li>
    <li class="training selected"><a href="">Video Training</a></li>
  </ul>
</section>
<!--<section class="services-slide-navigation">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="pull-left"> <a href ng-click="go('/services/management')" class="left-arrow"> <img class="grayscale" src="/images/service-navigation-management-logo-color.png" /> </a> </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div> <img src="/images/training-icon-large.png" />
          <h1>Video Training</h1>
          <img src="/images/services_04_icon.png" /> </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> </div>
    </div>
  </div>
</section>-->
<section class="content-section">
  <div class="container">
    <div id="training-approach" class="row">
      <div class="col-lg-12 col-md-12 image-on-right">
        <h2>Training: Final Stage of IT Modernization</h2>
        <p>Modernization efforts are multifaceted, expensive undertakings that require significant time, resources and commitment. Shaping the ideal technology solution is the culmination of months – or at times, years – of information gathering and intensive scrutiny that aims to alleviate the strain of an outdated technology environment. If an exciting, carefully vetted system is procured and implemented without requisite training, the entire effort will prove wasteful and disappointing for parties both inside and outside of your organization who made contributions. At Elucid, we believe video training is the best way to guarantee that your modernization effort comes full circle and yields the greatest return on investment.</p>
      </div>
    </div>
  </div>
</section>
<section class="content-section">
  <div class="container">
    <div id="training-approach" class="row">
      <div class="col-lg-12 col-md-12 image-on-right">
        <h2>Training in the 21<sup>st</sup> Century</h2>
        <img class="responsive-image" src="/images/cloud_library_infographic.png" />
        <p>As the 21st century takes shape, educational tactics are changing. A substantial portion of learning in our professional and private lives is anchored by video instruction. Lynda.com, for example, has more than one million paying members, 42 million unique users and serves universities and Fortune 500 corporations – and the key difference between the video approach and conventional pupil-student models is the advantage of repetition and reinforcement. The more you see and hear specific information, the more likely you are to retain it and utilize it effectively.</p>
        <p>Training videos provide a cost-effective, far reaching option for educating stakeholders. We can help companies determine how the videos will be disseminated or develop a client-approved, secure Web portal – hosted by a <em>Tube</em> cloud platform or a tool specific to your organization – that will allow leaders to freshen their educational libraries in tandem with adjustments to processes, technology and staffing.</p>
        <p>Drawing on the knowledge of vetted subject matter experts as well as the talents of experienced actors, voice over artists and videographers, we will help you craft training videos that will provide lasting educational support – and the consistent, productive use of newly procured technologies – for associates at all levels of access and experience.</p>
      </div>
    </div>
  </div>
</section>
<section class="content-section">
  <div class="container">
    <div id="learning-24by7" class="row">
      <div class="col-lg-12 col-md-12 image-on-right">
        <h2>Independent Self-Paced Study Available 24/7</h2>
        <img class="responsive-image" src="/images/24_7_infographic.png" />
        <p>Unlike a conventional classroom session, video training allows associates to learn in the office and beyond. A course-based library of videos enables learners to customize their educational approaches, giving them the ability to determine their stop or start points based on their experience, individual positions or general curiosity about business practices.  The inherent flexibility of online videos allows for learning to take place regardless of time or location. </p>
        <p>Always mindful of the fact that new technologies cannot be efficient without being coupled with proper educational resources, Elucid believes that a properly trained workforce is a happier workforce that will ultimately make the most of a technology investment. As a company that has created more than 150 training videos for the General Services Administration (GSA), we can guarantee that we will leave organization stakeholders armed with a clear understanding of complex technology issues.</p>
      </div>
    </div>
  </div>
</section>
<section class="content-section">
  <div class="container">
    <div id="faster-learning" class="row">
      <div class="col-lg-12 col-md-12 image-on-left"> <img class="responsive-image" src="/images/faster_learning_infographic.png" />
        <h2>Faster Learning</h2>
        <p>The readily available nature of videos also allows for faster learning, which in turn leads to a better return on investment and overall use of time. By allowing associates to hone in on the places most critical to their particular functions with video courses, you enable them gain knowledge without compromising daily functions necessary for meeting organization missions. A quicker pace allows for application of nascent concepts and the resolution of any outstanding questions or issues in a more real-time fashion.</p>
        <p>Thus, a great body of knowledge can be acquired in a shorter time with videos as opposed to a series of in-person sessions that may or may not address the most pressing needs of trainees. Videos spur timely, engaged learning patterns.</p>
      </div>
    </div>
  </div>
</section>
<section class="learn-more">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h2>A smarter journey begins now</h2>
        <p>Contact us to take the first step in a new direction. A modernized direction.</p>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-lg-5 col-md-5"> <img class="responsive-image" src="images/IT_modernization_infographic.png" /> </div>
              <div class="col-lg-7 col-md-7">
                <h2>Contact Us</h2>
                <p>Even though your latest project may be complete, there is always more to the story. IT modernization, by virtue of the evolving nature of technology, never reaches an end. As the economy has dictated that most organizations utilize a finite amount of resources, it is up to leadership to always seek out the most sensible methods to maximize staff productivity and cost savings.  Regardless of where your organization’s needs fall within our IT modernization lifecycle, our IT modernization experts can provide the right guidance for you as you seek to improve your technology environment. Let us help you venture into your future.</p>
                <a class="btn btn-default btn-blue-caret service-button" href="#/services/training" role="button">Contact Us</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="content-scrollspy hide-scrollspy" ng-class="{'show-scrollspy': (scroll > 700 && scroll < 2200)}" scroll-position="scroll">
  <ul>
    <li> <a scrollspy spy="training-approach">Training Approach</a> </li>
    <li> <a scrollspy spy="learning-24by7">Learning 24/7</a> </li>
    <li> <a scrollspy spy="faster-learning">Faster Learning</a> </li>
  </ul>
</div>
