@import 'base';

footer {
	@extend .section-default;
	background-color: $medium-grey;	
	color: $white;	
	
	div {
		text-align: center;
		
		h4 {
			text-transform: uppercase;
			color: $light-grey;
		}

		ul {
			list-style-type: none;
			list-style-image: none;
			padding: 0px;
			margin: 0px;

			li {
				color: $dark-grey;
				margin-bottom: 9px;
				line-height: 100%;
				
				a {
					text-decoration: none;
					color: $dark-grey;

					&:hover, &:focus {
						color: $white;
						text-decoration: none;
					}
				}
			}
		}
	}
		
	.copyright {
		margin-top: 50px;
		margin-right: auto;
		margin-left: auto;
		text-align: center;			
		
		p {
			color: $light-grey;
			line-height: 50%;	
		}
	}
}